:root {
    --base-font: 'Inter';
    --accent-font: 'PressStart2P';
    --font-settings-normal: 'wght' 400;
    --font-settings-bold: 'wght' 700;
    --card-width: clamp(375px, 100vw, 696px);
    --logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --logo_content-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --label-stroke-color: #ED20B7;
    --label-text-color: #fff;
    --bg-color: #fff;
    --accent-color: #000;
    --text-color: #000;
    --accent-text-color: #fff;
    --contour-color: #000;
    --animation-fill-color: #FF0000;
    --animation-center-color: #fff;
    --bg-gradient: repeating-linear-gradient(
        to right,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(
        to bottom,
        #e7e7e7 0.01%,
        #1a1a1a 100%
      );
}